*{
    margin: 0;
    padding: 0;
}

.mein{
    width: 60%;
    height: 80vh;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    margin: 5%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}